{% extends 'base.html' %}
{% block content %}
<!-- PAGE STARTS HERE -->
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<br>
<div class="container row h-100 w-100" style="border:4px solid #cecece;">
  <div class="col-sm-12 my-auto">
    <div class="w-25 mx-auto">
      <h1>Create</h1>
      <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Title:
        <br>
        <input type="text" name="title" />
        <br>
        Body:
        <br>
        <input type="textbox" name="body" />
        <br>
        URL:
        <br>
        <input type="text" name="url" />
        <br>
        Icon:
        <br>
        <input type="file" name="icon" />
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Post Video" />
      </form>
      <br>
    </div>
  </div>
</div>

<!-- PAGE ENDS HERE -->
{% endblock %}