{% extends 'base.html' %}
{% block content %}
<!-- PAGE STARTS HERE -->
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<br>
<div class="container row h-100 w-100" style="border:4px solid #cecece;">
  <div class="col-sm-12 my-auto">
    <div class="w-25 mx-auto">
      <h1>Login!</h1>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br>
        <input type="text" name="username" />
        <br>
        Password:
        <br>
        <input type="password" name="password" id="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
      </form>
      <br>
    </div>
  </div>
</div>
<!-- PAGE ENDS HERE -->
{% endblock %}